<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="#" class="navbar-item">
        <h1>Reddit.js</h1>
      </a>

      <a href="#" role="button"  aria-label="menu" aira-expanded="false" data-target="navbarOptions" class="navbar-burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navbarOptions">
      <div class="navbar-end">
        <a href="/posts/new" class="navbar-item">New Post</a>
      </div>
    </div>
  </nav>